// custom.scss

.btn.btn-danger {
    background-color: red;
    border-color: black;
    color: white;
  }
  

  .btn.btn-danger:hover{
    transition: 0.3s ease-in;
    background-color: rgb(252, 46, 46);
    border-width: 3px;
  }